bin/*
log/*
lib/*
test/lib/*
reports/*
bir/*
*.log
*.telem
*.class
data/persist.properties
log.txt
DashBoard.jar
graph.jar
Dashboard.zip
test.png
resources/stateMessageDb.xml
sourceExtraction/test/
sourceExtraction/__pycache__/
DashBoard.zip
resources/persist/*
resources/tile_servers.properties
.project
.classpath
.settings/org.eclipse.wst.sse.core.prefs
boardlist.txt
arduino-cli.exe
resources/groundSettings_edited.xml
resources/groundSettings_Old.xml
resources/groundSettings.xml
resources/images/6x6-Top - Backup.png
/bin/
out/
.idea/
*.iml
