*.class
*.iml
*.log
*.telem
.classpath
.idea/
.project
.settings/org.eclipse.wst.sse.core.prefs
/bin/
DashBoard.jar
DashBoard.zip
DashboardSetup.exe
_Release Builds/
arduino-cli.exe
bin/*
bir/*
boardlist.txt
data/persist.properties
graph.jar
lib/*
log.txt
log/*
out/
reports/*
resources/images/6x6-Top - Backup.png
resources/persist/*
resources/tile_servers.properties
sourceExtraction/__pycache__/
sourceExtraction/test/
test.png
test/lib/*