log/*
lib/*
test/lib/*
reports/*
bir/*
*.log
*.telem
*.class
data/persist.properties
log.txt
DashBoard.jar
graph.jar
Dashboard.zip
test.png
resources/stateMessageDb.xml
resources/airSettings.xml
resources/groundSettings.xml
sourceExtraction/test/
sourceExtraction/__pycache__/
DashBoard.zip
resources/persist/*
resources/tile_servers.properties
.project
.classpath
